@model PayTracker.Models.JobDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkType.WorkTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkType.WorkTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Earnings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earnings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
