@model PayTracker.Models.WorkTypeDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Work Type Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
